@model EmployeeManagementSystem.Models.Leave

@{
    ViewData["Title"] = "Create Leave";
}

<div class="container mt-4">
    <h2 class="mb-4">@ViewData["Title"]</h2>

    <form asp-action="Create" method="post" class="border p-4 shadow-sm rounded bg-light">
        <div class="form-group">
            <label asp-for="EmployeeId" class="control-label">Employee</label>
            <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.Employees">
                <option value="">Select Employee</option>
            </select>
            <span asp-validation-for="EmployeeId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Type" class="control-label">Leave Type</label>
            <select asp-for="Type" class="form-control" asp-items="ViewBag.LeaveTypes">
                <option value="">Select Leave Type</option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>

     

        <div class="form-group">
            <label asp-for="Status" class="control-label">Leave Status</label>
            <select asp-for="Status" class="form-control" asp-items="ViewBag.LeaveStatuses">
                <option value="">Select Leave Status</option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="StartDate" class="control-label">Start Date</label>
            <input asp-for="StartDate" class="form-control" type="date" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="EndDate" class="control-label">End Date</label>
            <input asp-for="EndDate" class="form-control" type="date" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Reason" class="control-label">Reason</label>
            <input asp-for="Reason" class="form-control" />
            <span asp-validation-for="Reason" class="text-danger"></span>
        </div>

        <div class="form-group text-center mt-4">
            <button type="submit" class="btn btn-success ">Save</button>
            <a asp-action="Index" class="btn btn-secondary ml-3">Cancel</a>

        </div>
    </form>
</div>
